<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no">
        <meta name="description" content="Quickly send Files P2P">

        <title>FileFlick</title>

        <link rel="manifest" href="manifest.json">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="application-name" content="FileFlick">
        <meta name="apple-mobile-web-app-title" content="FileFlick">
        <meta name="theme-color" content="#1F0027">
        <meta name="msapplication-navbutton-color" content="#1F0027">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="msapplication-starturl" content="/">

        <link rel="icon" type="image/png" sizes="192x192" href="icon192.png">
        <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="icon192.png">
        <link rel="icon" type="image/png" sizes="512x512" href="icon512.png">
        <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="icon512.png">

        <script>
            if ("serviceWorker" in navigator && location.hostname != "localhost")
            navigator.serviceWorker.getRegistrations().then(registrations => {
                for (const registration of registrations) {
                    registration.unregister();
                } 
            });
        </script>

        <link rel="stylesheet" href="styles.css">
        <script src="https://dagammla.gitlab.io/fuwu.js/0.8.8/fuwu-pl.min.js"></script>
        <script src="https://dagammla.gitlab.io/fuwu.js/0.8.8/fuwu.min.js"></script>
        <script src="lobbify-rtc-client.js"></script>
        <script src="qrcode.min.js" defer></script>
        <script src="script.js?v=2"></script>
    </head>
    <body>
        <f-pl data="data" id="app">
            <div id="container" evt:drop="dropFile($event)" evt:dragover="$event.preventDefault()" evt:dragenter="data.dragging = true" evt:dragleave="data.dragging = false" f:dragging="data.dragging && !data.isInTransfer">
                <div id="upload-button" class="main-button" btn-text="Send" evt:click="$o('#file-upload').click()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M440-160v-326L336-382l-56-58 200-200 200 200-56 58-104-104v326h-80ZM160-600v-120q0-33 23.5-56.5T240-800h480q33 0 56.5 23.5T800-720v120h-80v-120H240v120h-80Z"/></svg>
                </div>
                <div id="download-button" class="main-button" btn-text="Receive" evt:click="receiveFile()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M439-82q-76-8-141.5-42.5t-113.5-88Q136-266 108.5-335T81-481q0-155 102.5-268.5T440-880v80q-121 17-200 107.5T161-481q0 121 79 211.5T439-162v80Zm40-198L278-482l57-57 104 104v-245h80v245l103-103 57 58-200 200Zm40 198v-80q43-6 82.5-23t73.5-43l58 58q-47 37-101 59.5T519-82Zm158-652q-35-26-74.5-43T520-800v-80q59 6 113 28.5T733-792l-56 58Zm112 506-56-57q26-34 42-73.5t22-82.5h82q-8 59-30 113.5T789-228Zm8-293q-6-43-22-82.5T733-677l56-57q38 45 61 99.5T879-521h-82Z"/></svg>
                </div>
            </div>
            <f-if check="showModal()">
                <div id="modal">
                    <f-if check="data.modalType == 'offer'">
                        <div>
                            Your File ID: <br>
                            {{data.offerId}}
                            <svg evt:click="data.modalType = 'offer-qr'" id="qr-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-520v-320h320v320H120Zm80-80h160v-160H200v160Zm-80 480v-320h320v320H120Zm80-80h160v-160H200v160Zm320-320v-320h320v320H520Zm80-80h160v-160H600v160Zm160 480v-80h80v80h-80ZM520-360v-80h80v80h-80Zm80 80v-80h80v80h-80Zm-80 80v-80h80v80h-80Zm80 80v-80h80v80h-80Zm80-80v-80h80v80h-80Zm0-160v-80h80v80h-80Zm80 80v-80h80v80h-80Z"/></svg>
                        </div>
                    </f-if>
                    <f-if check="data.modalType == 'offer-qr'">
                        <div>
                            <span id="qr-target" evt:f-add="makeQr(this)"></span>
                            {{data.offerId}}
                        </div>
                    </f-if>
                    <f-if check="data.modalType == 'confirm-pin'">
                        <div>
                            Confirm PIN: <br>
                            {{data.clientId}}
                            <f-if check="data.isSending">
                                <br>
                                <button evt:click="clientResolve(true)">Accept</button>
                                <br>
                                <button evt:click="clientResolve(false)">Reject</button>
                            </f-if>
                        </div>
                    </f-if>
                    <f-if check="data.modalType == 'offer-input'">
                        <div>
                            Enter File ID: <br>
                            <input type="text" id="offer-input" evt:f-add="this.focus()" maxlength="10" evt:keypress="if ($event.key === 'Enter') submitReceive()">
                            <br>
                            <button evt:click="submitReceive()">Okay</button>
                        </div>
                    </f-if>
                    <f-if check="data.modalType == 'progress'">
                        <div>
                            Transferring...<br>
                            {{ getProgressPercentage() }}%
                        </div>
                    </f-if>
                    <f-if check="data.modalType == 'failed'">
                        <div>
                            Transfer failed
                            <br>
                            <button evt:click="data.modalType = 'none'">Okay</button>
                        </div>
                    </f-if>
                    <f-if check="data.modalType == 'finished'">
                        <div>
                            File transferred
                            <br>
                            <button evt:click="data.modalType = 'none'">Okay</button>
                        </div>
                    </f-if>
                </div>
                <svg id="cancel-button" evt:click="reset()"
                    xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m336-280 144-144 144 144 56-56-144-144 144-144-56-56-144 144-144-144-56 56 144 144-144 144 56 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
            </f-if>
            <input id="file-upload" type="file" style="visibility: hidden;" evt:change="selectFile($event)">
        </f-pl>
    </body>
</html>