@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed.ttf') format('truetype')
}

:root, body, #app, #container, #modal {
    display: block;
    background-color: rgb(var(--back));
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    --color: #1F0027;
    --back: 255, 255, 255;
    color: var(--color);
    fill: var(--color);
    --1: min(1vw, 1vh);
    --2: min(2vw, 2vh);
    --4: min(4vw, 4vh);
    --5: min(5vw, 5vh);
    --8: min(8vw, 8vh);
    --10: min(10vw, 10vh);
    --20: min(20vw, 20vh);
    --30: min(30vw, 30vh);
    --40: min(40vw, 40vh);
    --50: min(50vw, 50vh);
    --70: min(70vw, 70vh);
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--10);
}

#container[dragging=true]::after {
    content: "Drop file to send";
    text-align: center;
    line-height: 100vh;
    font-size: var(--10);
    display: block;
    width: 100%;
    height: 100%;
    border: var(--1) dashed rgba(121, 121, 121, 0.5);
    background-color: rgba(var(--back), 0.95);
    border-radius: var(--5);
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    z-index: 10;
}


.main-button{
    width: var(--40);
    height: var(--40);
    background-color: rgba(121, 121, 121, 0.25);
    border-radius: var(--5);
    outline: var(--1) solid var(--color);
    cursor: pointer;
}

.main-button::after {
    content: attr(btn-text);
    display: block;
    width: 100%;
    text-align: center;
    font-size: var(--5);
    line-height: var(--10);
}

.main-button svg {
    width: var(--40);
    height: var(--40);
}

#qr-icon {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: var(--20);
    width: var(--20);
    height: var(--20);
    cursor: pointer;
}

#qr-target :is(img, canvas) {
    width: var(--50);
    height: var(--50);
    outline: solid white var(--1);
}

#modal {
    position: fixed;
    left: var(--10);
    top: var(--10);
    right: var(--10);
    bottom: var(--10);
    width: auto;
    height: auto;
    border-radius: var(--5);
    background-color: rgba(var(--back), 0.95);
    outline: var(--1) solid var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--10);
    font-weight: bold;
    z-index: 2;
}

#modal > div {
    text-align: center;
}

#offer-input {
    height: var(--10);
    width: var(--50);
    background-color: rgb(var(--back));
    font-size: var(--8);
    border-radius: var(--2);
    border-width: var(--1);
    outline: none !important;
    padding: var(--1) var(--1);
}

#modal button {
    height: var(--10);
    line-height: var(--8);
    width: var(--40);
    font-size: var(--8);
    border-radius: var(--1);
    border-width: var(--1);
    padding: 0;
    background-color: var(--back);
}

#cancel-button {
    position: fixed;
    top: var(--4);
    right: var(--4);
    width: var(--10);
    height: var(--10);
    cursor: pointer;
    z-index: 3;
}

/* Light mode */
@media (prefers-color-scheme: dark) {
    * {
        --color: #E0FFD8;
        --back: 0, 0, 0;
    }
}